@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 20px;
    /*background-color: #dddac3;*/
}

#welcome-info {
    background-image: url(https://static.pexels.com/photos/80467/globe-indonesia-equator-80467.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    max-width: 100%;
    height: 677px;
    background-size: cover;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: black;
}

#nav-name {
    font-family: 'Pacifico', cursive;
}

#nav-bar {
    background-color: black;
    border: none;
}

#name-welcome {
    font-size: 75px;
    font-weight: bold;
    color: black;
    font-family: 'Pacifico', cursive;
}

#placeholder1 {
    margin: 10px;
}

#placeholder2 {
    margin: 10px;
}

#placeholder3 {
    margin: 10px;
}

#placeholder4 {
    margin: 10px;
}

#placeholder5 {
    margin: 10px;
}

#placeholder6 {
    margin: 10px;
}

.avatar {
    height: 197px;
    width: 197px;
    margin: auto;
    border-radius: 50%;
    border: 3px solid;
    overflow: hidden;
}

#me {
    height: inherit;
    width: initial;
    transform: rotate(360deg);
    position: relative;
    top: 0px;
    left: -26px;
}

#linkedin {
    color: black;
    font-size: 200%;
}

#googleplus {
    color: black;
    font-size: 200%;
}

#github {
    color: black;
    font-size: 200%;
}

#name {
    height: auto;
}

#email {
    height: auto;
}

#phone {
    height: auto;
}

#message {
    height: 132px;
}

#social-media {

}

#footerwrap {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}



